@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  box-sizing : border-box;
  margin:0px;
  padding:0px;
  font-family: "Poppins", sans-serif;
}

body{
  background-color: #FFF5F0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 30px;

}

.container{
  max-width : 550px;
  margin: 0auto;
  padding : 40px 20px;
  
}

h1{
  font-size: 2.5rem;
  font-weight: 800;
  color: #FF6B6B;
  margin-bottom : 24px;
  text-align: center;
}

.input-row{
  display: flex;
  gap:8px;
  margin-bottom: 24px;
}

.input-row input{
  flex: 1;
  padding:10px 16px;
  border: 2px solid #FFB3B3;
  border-radius: 12px;
  font-size: 1rem;
  outline: none;
  background:white;
}

.input-row button{
  padding: 10px 20px;
  background-color: #FF6B6B;
  color:white;
  border:none;
  border-radius: 12px;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}

ul{
  list-style: none;
  padding:0px;
}

li{
  background: white;
  padding: 12px 16px;
  border-radius: 12px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 1px 8px rgba(0,0,0,0.07);
}

.todo-text {
  flex: 1;
  font-size: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.todo-buttons{
  display: flex;
  gap: 6px;
}

.btn-delete {
  padding: 6px 12px;
  border: none;
  border-radius: 8px;
  font-size: 0.85rem;
  font-weight: 600;
  cursor: pointer;
  background-color: #FFB3B3;
  color: #cc0000;
  margin-right: 10px;
}

.btn-edit {
  padding: 6px 12px;
  border: none;
  border-radius: 8px;
  font-size: 0.85rem;
  font-weight: 600;
  cursor: pointer;
  background-color: #BDE0FF;
  color: #0055cc;
}

.btn-save {
  padding: 6px 12px;
  border: none;
  border-radius: 8px;
  font-size: 0.85rem;
  font-weight: 600;
  cursor: pointer;
  background-color: #B8F0C8;
  color: #006620;
}

.btn-cancel {
  padding: 6px 12px;
  border: none;
  border-radius: 8px;
  font-size: 0.85rem;
  font-weight: 600;
  cursor: pointer;
  background-color: #E8E8E8;
  color: #555;
}

button {
  transition: transform 0.1s ease;
}

button:hover {
  transform: scale(1.08);
}

